.err {
  color: #f00;
}

body {
  font-family: "Segoe UI";
}

.container {
  text-align: center;
}

.birthdayContainer {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table {
  width: 70%;
  margin: 0 auto;
}